{% if 'loggedin' in session %}
  {% extends "layoutloggedin.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}
{% block content %}
  <div class="container">
    <div class="alert alert-primary text-center mt-5 w-auto">
    <font style="font-size: 70px;">WITAJ W WYPOŻYCZALNI</font>
    </div>
    <div class="row my-5">
      <div class="col-sm-6 text-center">
        <a href="{{ url_for('bikes') }}" style="color:black; font-size: 50px;text-decoration:none"><img class="img-fluid rounded mb-3 mb-md-0" src="{{ url_for('static',filename='rower.jpg') }}" alt="">Wypożycz rower</a>
      </div>
      <div class="col-sm-6 text-center">
        <a href="{{ url_for('info') }}" style="color:black; font-size: 50px;text-decoration:none"><img class="img-fluid rounded mb-3 mb-md-0" src="{{ url_for('static',filename='info.png') }}" alt="">Informacje</a>
      </div>
    </div>
  </div>
{% endblock content %}
