{% if session['loggedin'] %}
  {% extends "layoutloggedin.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}
{% block content %}
  <div class="container mt-5">
<h1 class="text-center">Wypożyczalnia</h1>
<hr>
  <div class="row">
    <div class="col-sm-8">
      <iframe src="https://maps.google.com/maps?q=x%20lo%20krak%C3%B3w&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="col-sm-4">
        <h3>Dane Kontaktowe</h3>
        <h4 class="pt-2">Adres</h4>
        <i class="fas fa-globe" style="color:#000"></i> address<br>
        <h4 class="pt-2">Telefon</h4>
        <i class="fas fa-phone" style="color:#000"></i> 123456789<br>
        <h4 class="pt-2">Email</h4>
        <i class="fa fa-envelope" style="color:#000"></i> test@test.com<br>
      </div>
  </div>
</div>
{% endblock content %}
