<!DOCTYPE html>
<html>
<head>
  <title>My Webside</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
</head>
<body>
  <nav class="navbar navbar-dark bg-primary">
    <a class="nav-link  ml-5" href="{{ url_for('index') }}">HOME</a>
    <a class="nav-link" href="{{ url_for('bikes') }}">BIKES</a>
    <a class="nav-link" href="{{ url_for('info') }}">INFO</a>
    <div class="ml-auto row">
      <a class="nav-link col" href="{{ url_for('login') }}">LOGIN</a>
      <a class="nav-link col" href="{{ url_for('register') }}">REGISTER</a>
    </div>
  </nav>
  <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-primary">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-primary">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-primary">Password:</label><br>
                                <input type="text" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="remember-me" class="text-primary"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="submit" name="submit" class="btn btn-primary btn-md" value="submit">
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="{{ url_for('register') }}" class="text-primary">Register here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
